<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Page Content -->
<div class="container">

    <h1 class="gallery">Gallery</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-12.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-12.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-3.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-4.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-4.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-5.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-5.jpg" alt=""  style="height: 175px;">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-6.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-6.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-7.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-7.jpg" alt="" style="height: 175px;">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-8.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-8.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-9.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-9.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-10.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-10.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-11.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-11.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-2.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-2.jpg" alt="" style="height: 175px;">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="../../../assets/images/car-1.jpg" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../../assets/images/car-1.jpg" alt="">
        </a>
      </div>
    </div>
  
  </div>
</body>
</html>