<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
<!--headin5_amrc-->
<p class="mb10"> we offer low contact rental experience by replacing traditional in-person check-in with a full digital process built as an extension of the booking process. We cater to all kinds of customers, from premium, high quality value, to aspiring car enthusiasts.</p>
<p><i class="fa fa-location-arrow"></i> 9878/25  india </p>
<p><i class="fa fa-phone"></i>  +91-9961980559 </p>
<p><i class="fa fa fa-envelope"></i> CarRental@gmail.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">HYDERABAD LOCATION</h5>
<!--headin5_amrc-->
<p>Car2Rental India Pvt ltd

    Balanagar, Hyderabad-500042.
    Toll Free : 8880-100-200
    Email : info@car2drive.in
    24/7 Services</p>

    <p><i class="fa fa-location-arrow"></i> 9878/25 Hyderabad-50004 india </p>
<p><i class="fa fa-phone"></i>  +91-7510879653  </p>
<p><i class="fa fa fa-envelope"></i> CarRentalHyderbad@gmail.com  </p>

<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">BANGALORE LOCATION</h5>
<!--headin5_amrc-->
<p>Car2Rental India Pvt ltd

    Residency Road Bangalore-560001.
    Toll Free : 8880-100-200
    Email : info@car2drive.in
    24/7 Services</p>

    <p><i class="fa fa-location-arrow"></i> 9878/25 Bangalore-560001 india </p>
    <p><i class="fa fa-phone"></i>  +91-8965359864 </p>
    <p><i class="fa fa fa-envelope"></i> CarRentalBangalore@gmail.com  </p>
    

    
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Services</h5>
<!--headin5_amrc ends here-->
<ul class="footer_ul_amrc">
    <li><p>AUTO REPAIRING </p></li>
    <li><p> CAR FINANCING </p></li>
    <li><p>  AUTO CLEANING </p></li>
    <!-- <li><p>  CAR RENTAL </p></li> -->
    <li><p>    AUTO PAINTING </p></li>
    <li><p>  CAR INSPECTION</p></li>
    </ul>

    <div>
        <ul class="social_footer_ul">
            <li><a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
            <!-- <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li> -->
            </ul>
    </div>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a routerLink="">Home</a></li>
<li><a routerLink="Gallery">Gallery</a></li>
<li><a routerLink="services">Services</a></li>
<li><a routerLink="login">Login</a></li>
<li><a routerLink="signup">Signup</a></li>
<li><a routerLink="contact">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2023 | Designed  by CarRental</p>

<ul class="social_footer_ul">
<li><a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>